<app-header title="비밀번호 변경" />

<form [formGroup]="form" class="flex h-full flex-1 flex-col gap-2.5 p-5">
  <app-input
    label="기존 비밀번호"
    inputType="password"
    formControlName="currentPassword"
    [hasInfoIcon]="true"
    info="숫자, 영문자, 특수문자를 포함 8~15자"
    [hasError]="!!getErrorMessage('currentPassword')"
    placeholder="비밀번호" />
  @if (getErrorMessage('currentPassword')) {
    <p class="ml-1 text-detail-l text-accent40">{{ getErrorMessage('currentPassword') }}</p>
  }
  <app-input
    label="신규 비밀번호"
    inputType="password"
    formControlName="password"
    [hasInfoIcon]="true"
    info="숫자, 영문자, 특수문자를 포함 8~15자"
    [hasError]="!!getErrorMessage('password')" />
  @if (getErrorMessage('password')) {
    <p class="ml-1 text-detail-l text-accent40">{{ getErrorMessage('password') }}</p>
  }
  <app-input
    label="신규 비밀번호 확인"
    inputType="password"
    formControlName="confirmPassword"
    [hasInfoIcon]="true"
    info="숫자, 영문자, 특수문자를 포함 8~15자"
    [hasError]="!!getErrorMessage('confirmPassword')" />
  @if (getErrorMessage('confirmPassword')) {
    <p class="ml-1 text-detail-l text-accent40">{{ getErrorMessage('confirmPassword') }}</p>
  }
  <!-- <app-button text="확인" [isDisabled]="form.invalid" (click)="updatePassword()" /> -->
</form>

<app-footer [hasButton]="true">
  <app-button button text="비밀번호 변경" [isDisabled]="!isValid()" (click)="updatePassword()" />
</app-footer>
