<form [formGroup]="form" class="px-5 py-10">
  @if (!isEditMode()) {
    <input #fileRef type="file" (change)="upload($event)" class="hidden" />
    <button
      (click)="selectFile()"
      class="mx-auto mb-10 flex h-[480px] w-[270px] items-center justify-center overflow-hidden rounded-[12px] border-2 border-primary50 bg-[#182B28] shadow-custom">
      @if (previewUrl) {
        <img [src]="previewUrl" alt="임시 이미지" class="h-full w-full" />
      } @else {
        <div class="flex flex-col items-center gap-5">
          <app-icon name="plus" [size]="30" class="text-primary20" />
          <div class="h-full w-full text-body-s text-primary20">사진을 선택해주세요.</div>
        </div>
      }
    </button>
  }
  <app-input label="게시물 제목" placeholder="게시물 제목을 입력해주세요." info="게시물 제목은 추후에 변경이 가능합니다." [hasInfoIcon]="true" formControlName="title" />
  <app-input
    type="textarea"
    label="게시물 내용"
    placeholder="게시물 내용을 입력해주세요."
    info="게시물에 대한 간단한 메모를 남겨주세요."
    formControlName="content"
    class="mt-5 block" />

  <div formArrayName="metadataStringify" class="mt-5">
    <p class="mb-2 text-body-s text-white">사진내용</p>
    <!-- TODO 테두리 변경 -->
    <div class="min-w-full rounded-[12px] border border-gray70">
      <div class="flex rounded-t-[12px] bg-[#182B28] text-detail-m font-bold text-primary20">
        <span class="px-2.5 py-2">노출</span>
        <span class="flex-1 px-1 py-2">텍스트</span>
        @if (metadataArray.controls.length > 0) {
          <span class="px-2.5 py-2"></span>
        }
      </div>
      <div class="space-y-3 px-2.5 py-2">
        @for (imgContent of metadataArray.controls; track $index; let last = $last) {
          <div [formGroup]="imgContent" class="flex items-center gap-2.5 bg-layer40">
            @if (!last) {
              <input type="checkbox" formControlName="isPublic" />
            } @else {
              <app-icon name="text" [size]="16" />
            }
            <app-input size="xs" [placeholder]="last ? '추가하실 텍스트를 입력해주세요' : ''" formControlName="content" class="block flex-1" />
            @if (!last) {
              <button (click)="deleteText($index)">
                <app-icon name="delete" [size]="16" />
              </button>
            } @else {
              <button (click)="addText($index)">
                <app-icon name="plus" [size]="16" class="text-primary40" />
              </button>
            }
          </div>
        } @empty {
          <!-- TODO border-t 테두리 변경 -->
          <div class="rounded-b-[12px] border-t-gray70 text-detail-l text-gray40">
            @if (!isEditMode()) {
              사진을 선택해주세요.
            } @else {
              사진 내용이 존재하지 않습니다.
            }
          </div>
        }
      </div>
    </div>
  </div>
</form>

@if (!isEditMode()) {
  <app-footer [hasButton]="true">
    <app-button button text="다음으로" rightIcon="arrow-right" [iconSize]="16" [isDisabled]="!isValid()" (click)="onNext()" />
  </app-footer>
}
