<div class="flex flex-col min-h-screen border-x bg-secondary5">
  <!-- header -->
  <header class="sticky top-0 z-10 flex items-center w-full gap-3 px-4 py-5 bg-white border-b shadow-sm">
    <button class="text-xl font-bold"><</button>
    <!-- TODO 사진첩 상세 조회로 변경 -->
    @if (collection && collection.items.length > 0) {
      <span class="text-xl font-bold">{{ collection.items[0].collection.title }}</span>
      <app-tag [appearance]="'outline'" [tagName]="collection.items[0].category.name" size="m" class="ml-auto" />
    }
  </header>

  <div class="grid grid-cols-3 gap-3 p-4 bg-white border-b">
    <app-button text="사진첩 삭제" appearance="secondary" />
    <app-button text="사진첩 수정" appearance="secondary" />
    <app-button text="사진첩 정리" appearance="secondary" />
  </div>

  <!-- main -->
  <main #grid class="pt-4">
    @for (post of collection?.items || []; track $index) {
      <div #item (click)="goPage(post.postId)" class="bg-white rounded-lg shadow-lg cursor-pointer hover:shadow-2xl">
        <img [src]="post.imageUrl" [alt]="post.title" class="rounded-t-lg" />
        <div class="">
          <span class="text-lg font-bold">{{ post.title }}</span>
          <p class="text-sm line-clamp-2">{{ post.content }}</p>
        </div>
      </div>
    }
  </main>

  <!-- footer -->
  <app-footer class="sticky bottom-0 mt-auto" />
</div>
