<div class="flex flex-col min-h-screen border-x bg-gray10">
  @if (collection) {
    <app-header [title]="collection.title">
      <button rightContent (click)="openBottomSheet()">
        <app-icon name="more" />
      </button>
    </app-header>
  }

  <main class="flex flex-col gap-5 px-4 mt-5">
    <app-search-bar />
    <div class="flex items-center justify-between">
      <app-tag [tagName]="collection?.category?.name" appearance="primary" />
      <p class="font-bold text-body-s">
        <span class="text-primary60">{{ postList?.length }}</span>
        개의 게시물
      </p>
    </div>
    <section #grid>
      @for (post of postList || []; track $index) {
        <!-- TODO 게시물 카드 컴포넌트 분리 필요 -->
        <figure #item (click)="goPage(post.id)" class="shadow-custom cursor-pointer rounded-[12px] bg-white p-2 hover:ring-1 hover:ring-primary50">
          <figcaption class="w-full">
            <span class="block w-full font-bold truncate text-body-s">{{ post.title }}</span>
            <p class="line-clamp-2 text-detail text-gray50">{{ post.content }}</p>
          </figcaption>
          <img [src]="post.imageUrl" [alt]="post.title" class="mt-2 w-full rounded-[12px]" />
        </figure>
      }
    </section>
  </main>

  <app-footer class="sticky bottom-0" />
</div>
