<section class="flex flex-col gap-5">
  <div>
    <h1 class="text-3xl font-bold">사진첩 덜어내기</h1>
    <p class="mt-1">캡쳐사진 "사진첩 덜어내기"를 통해 정리해보세요! 🧹</p>
  </div>

  <form [formGroup]="loginForm" class="flex h-full flex-col gap-2">
    <input type="text" formControlName="email" placeholder="이메일(example@gmail.com)" />
    @if (getErrorMessage('email')) {
      <p class="ml-1 text-xs text-red-600">{{ getErrorMessage('email') }}</p>
    }
    <input type="password" formControlName="password" placeholder="비밀번호" />
    @if (getErrorMessage('password')) {
      <p class="ml-1 text-xs text-red-600">{{ getErrorMessage('password') }}</p>
    }
    <button [disabled]="loginForm.invalid" (click)="onLogin()">로그인</button>
  </form>

  <a href="/find_password" class="text-center text-sm text-gray-400 underline">비밀번호 찾기</a>

  <a routerLink="/register" class="block rounded-[10px] bg-blue-500 px-5 py-[10px] text-center text-white disabled:bg-opacity-50">이메일 회원가입</a>
</section>
