<a routerLink="/register" class="inline-block ml-auto border border-black">회원가입</a>

<div class="flex items-center justify-between mb-6">
  <h1 class="flex-1">로그인</h1>
  <a href="/find_password" class="text-sm text-gray-400">비밀번호를 잊어버리셨나요?</a>
</div>

<form [formGroup]="loginForm" class="flex flex-col h-full">
  <input type="text" formControlName="username" placeholder="이메일(example@gmail.com)" class="mb-2">
  <input type="password" formControlName="password" placeholder="비밀번호" class="mb-2">
  <button [disabled]="loginForm.invalid" (click)="onLogin()">로그인</button>
</form>

{{loginForm.value | json}}