<div class="bg-layer40 flex min-h-screen flex-col border-x">
  <app-header title="게시물 생성">
    <span rightContent class="flex text-body-m text-white">
      <span class="font-bold text-primary60">{{ step() }}</span>
      /2
    </span>
  </app-header>

  <div class="w-full flex-1 py-10">
    @if (step() === 1) {
      <form [formGroup]="form" class="px-5">
        <input #fileRef type="file" (change)="upload($event)" class="hidden" />
        <button
          (click)="fileRef.click()"
          class="mx-auto mb-10 flex h-[480px] w-[270px] items-center justify-center rounded-[12px] border-2 border-primary50 bg-[#182B28] shadow-custom">
          @if (previewUrl) {
            <img [src]="previewUrl" alt="임시 이미지" class="h-full w-full overflow-hidden rounded-[12px] shadow-custom" />
          } @else {
            <div class="flex flex-col items-center gap-5">
              <app-icon name="plus" [size]="30" class="text-primary20" />
              <div class="h-full w-full text-body-s text-primary20">사진을 선택해주세요.</div>
            </div>
          }
        </button>
        <app-input label="게시물 제목" placeholder="게시물 제목을 입력해주세요." info="게시물 제목은 추후에 변경이 가능합니다." [hasInfoIcon]="true" formControlName="title" />
        <app-input
          type="textarea"
          label="게시물 내용"
          placeholder="게시물 내용을 입력해주세요."
          info="게시물에 대한 간단한 메모를 남겨주세요."
          formControlName="content"
          class="mt-5 block" />

        <div formArrayName="metadataStringify" class="mt-5">
          <p class="mb-2 text-body-s text-white">사진내용</p>
          <!-- TODO 테두리 변경 -->
          <div class="min-w-full rounded-[12px] border border-gray70">
            <div class="text-detail-m flex rounded-t-[12px] bg-[#182B28] font-bold text-primary20">
              <span class="px-2.5 py-2">노출</span>
              <span class="flex-1 px-1 py-2">텍스트</span>
              @if (metadataArray.controls.length > 0) {
                <span class="px-2.5 py-2"></span>
              }
            </div>
            @for (imgContent of metadataArray.controls; track $index) {
              <div [formGroup]="imgContent" class="bg-layer40 flex items-center gap-2.5 px-2.5">
                <div class="py-2">
                  <input type="checkbox" formControlName="isPublic" />
                </div>
                <div class="flex-1 px-2.5 py-2">
                  <app-input size="xs" formControlName="content" class="flex-1" />
                </div>
                <button (click)="deleteText($index)" class="py-2">
                  <app-icon name="delete" [size]="16" />
                </button>
              </div>
            } @empty {
              <!-- TODO border-t 테두리 변경 -->
              <div class="text-detail-l rounded-b-[12px] border-t-gray70 px-2.5 py-2 text-gray40">사진을 선택해주세요.</div>
            }
          </div>
        </div>
      </form>
    } @else {
      <!-- STEP2 -->
      <!-- TODO 홈화면에 있는 요소랑 공통, 컴포넌트로 빼기 -->
      <div class="grid grid-cols-2 gap-5">
        @for (collection of collections(); track $index) {
          @if (collection.type === 'DEFAULT') {
            <div (click)="checkboxRef.click()" class="relative">
              <input
                #checkboxRef
                type="checkbox"
                (change)="selectCollection(collection.id, $event)"
                [checked]="form.value.collectionId === collection.id"
                class="absolute left-2 top-2 z-20 h-6 w-6" />
              <app-collection-card [collection]="collection" />
              <div [ngClass]="form.value.collectionId !== collection.id ? 'bg-black/20' : 'border border-primary50'" class="absolute inset-0 z-10 rounded-[12px]"></div>
            </div>
          }
        }
        <section class="col-span-full">
          <h4 class="mb-2.5 text-body-s font-bold text-gray90">정리가 필요한 사진첩</h4>
          <div class="text-detail-l divide-y divide-gray30 rounded-[12px] bg-white p-4">
            <!-- 미분류 -->
            <div class="flex cursor-pointer items-center justify-between pb-2">
              <div class="flex items-center gap-2">
                <input
                  type="checkbox"
                  (change)="selectCollection(myCollections().uncategorized!.id, $event)"
                  [checked]="form.value.collectionId === myCollections().uncategorized!.id"
                  class="h-6 w-6" />
                <span class="font-bold">미분류</span>
              </div>
              <span class="text-gray50">{{ myCollections().uncategorized?.postCount }}개 사진</span>
            </div>

            <!-- 휴지통 -->
            <div class="flex cursor-pointer items-center justify-between pt-2">
              <div class="flex items-center gap-2">
                <input
                  type="checkbox"
                  (change)="selectCollection(myCollections().trash?.id, $event)"
                  [checked]="form.value.collectionId === myCollections().trash?.id"
                  class="h-6 w-6" />
                <span class="font-bold">휴지통</span>
              </div>
              <span class="text-gray50">{{ myCollections().trash?.postCount }}개 사진</span>
            </div>
          </div>
        </section>
      </div>
      <app-footer [hasButton]="true" class="sticky bottom-0 mt-auto">
        <app-button text="게시물 생성하기" size="lg" (click)="createCollection()" />
      </app-footer>
    }
  </div>

  <app-footer [hasButton]="true" class="sticky bottom-0 mt-auto">
    <app-button button text="다음으로" size="lg" (click)="updateState()" />
  </app-footer>
</div>
