<!-- TODO 테두리색 해야 함 -->
<div class="w-[350px] rounded-[12px] border border-gray70 bg-layer40 bg-opacity-80 p-8">
  <div class="flex items-center justify-between mb-5">
    <h6 class="font-bold text-white text-body-m">개인정보 관리</h6>
    <button (click)="close()" class="ml-auto">
      <app-icon name="close" class="text-white" />
    </button>
  </div>

  <div class="grid grid-cols-2 gap-5">
    <app-button (click)="clickButton('password')" text="비밀번호 변경" class="block pb-5 border-b col-span-full border-b-white/20" />
    <app-button (click)="clickButton('withdraw')" text="회원탈퇴" appearance="danger" />
    <app-button (click)="clickButton('reset')" text="기록 초기화" appearance="secondary" />
  </div>
</div>
