<a routerLink="/login" class="inline-block ml-auto border border-black">로그인</a>

<div class="flex items-center justify-between mb-6">
  <h1 class="flex-1">회원가입</h1>
</div>

<form [formGroup]="signUpForm" class="flex flex-col h-full gap-2">
  <input type="text" formControlName="email" placeholder="이메일(example@gmail.com)" />
  {{ isLoading() ? 'loading ...' : '' }}
  {{ message() }}
  <input type="password" formControlName="password" placeholder="비밀번호" />
  <button [disabled]="signUpForm.invalid" (click)="onRegister()">가입하기</button>
</form>