<!-- TODO 테두리 바꿔야 함  -->
<section
  (click)="clickCard()"
  class="relative flex h-[275px] flex-col items-center justify-center gap-4 overflow-hidden rounded-[12px] border border-gray70 bg-[#23252B]/85 px-5 py-4 shadow-custom">
  <div class="absolute inset-0 z-0 h-full w-full bg-cover bg-center blur-[20px]" [ngStyle]="{ 'background-image': 'url(' + collection().imageUrls[0].blur + ')' }"></div>
  <div class="absolute inset-0 z-10 bg-[#2A2C34]/35"></div>

  <div class="z-10 flex items-center justify-between w-full">
    <div class="flex items-center gap-3">
      <app-tag [tagName]="collection().category?.name || ''" size="md" type="solid" />
      <h4 class="font-bold text-white text-body-m">{{ collection().title }}</h4>
    </div>
    <div class="relative flex items-center gap-2">
      <span class="text-detail-l text-gray40">{{ collection().postCount }}개 사진</span>
      @if (!isCheckable()) {
        <button (click)="handlePopover($event)" [ngClass]="isOpenPopover() ? 'bg-primary50' : ''" class="flex items-center justify-center rounded-full size-5">
          <app-icon name="more" [size]="13" class="text-white" />
        </button>
      } @else {
        <input type="checkbox" #inputRef [checked]="isChecked()" readonly />
      }
      @if (isOpenPopover()) {
        <div clickOutside (clickOutside)="closePopover()" class="absolute z-10 mt-2 top-full">
          <app-popover [items]="popoverItems" />
        </div>
      }
    </div>
  </div>
  <div class="z-10 flex w-full flex-1 gap-3 overflow-x-auto border-t border-t-[white/20] pt-4">
    @for (img of collection().imageUrls; track $index; let i = $index) {
      <img [src]="allImagesLoaded() ? img.grid : img.blur" (load)="onImageLoaded(i)" class="aspect-[84/183] w-[5.25rem] rounded-[8px] object-cover" />
    } @empty {
      <p class="text-body-s text-gray40">등록된 사진이 없습니다.</p>
    }
  </div>
</section>
