<section
  (click)="clickCard()"
  class="relative flex h-[275px] w-full flex-col items-center justify-center gap-4 overflow-hidden rounded-[12px] border border-white/20 py-4 shadow-custom">
  <div
    class="absolute inset-0 z-0 h-full w-full bg-cover bg-center blur-[20px]"
    style="background-blend-mode: multiply; opacity: 100%"
    [ngStyle]="collection().imageUrls.length ? { 'background-image': 'url(' + collection().imageUrls[0].blur + ')' } : {}"></div>
  <div class="absolute inset-0 bg-[#23252B]/85"></div>
  <div class="absolute inset-0 bg-[#2A2C34]/35"></div>

  <div class="z-10 flex w-full items-center justify-between px-5">
    <div class="flex items-center gap-3">
      <app-tag [tagName]="collection().category?.name || ''" size="md" type="solid" />
      <h4 class="text-body-m font-bold text-white">{{ collection().title }}</h4>
    </div>
    <div class="relative flex items-center gap-2">
      <span class="text-detail-l text-gray40">{{ collection().postCount }}개 사진</span>
      @if (!isCheckable()) {
        <button
          appPopover
          #popoverBtn
          [button]="popoverBtn"
          [popoverItems]="popoverItems"
          [(isPopoverOpen)]="isPopoverOpen"
          class="flex size-5 items-center justify-center rounded-full"
          [ngClass]="isPopoverOpen() ? 'bg-primary50' : ''"
          (click)="$event.stopPropagation()">
          <app-icon name="kebab" [size]="20" class="text-white" />
        </button>
      } @else {
        <input type="checkbox" #inputRef [checked]="isChecked()" readonly />
      }
    </div>
  </div>

  <div class="z-10 h-[1px] w-full bg-white/20 px-5"></div>

  <!-- 사진 -->
  <div #imageContainer (scroll)="onUserScroll()" class="z-10 flex w-full flex-1 gap-3 overflow-x-auto px-5">
    <!-- TODO 스크롤 없애기  -->
    @for (img of collection().imageUrls; track $index; let i = $index) {
      <img [src]="allImagesLoaded() ? img.grid : img.blur" (load)="onImageLoaded(i)" class="aspect-[84/183] w-[5.25rem] rounded-[8px] object-cover" />
    } @empty {
      <p class="text-body-s text-gray40">등록된 사진이 없습니다.</p>
    }
  </div>

  <!-- 그라데이션 오버레이 -->
  <div class="absolute left-0 top-0 z-10 h-full w-[30px] bg-gradient-to-r from-[#23252B] from-[4%] to-80%"></div>
  <div class="absolute right-0 top-0 z-10 h-full w-[30px] bg-gradient-to-l from-[#23252B] from-[4%] to-80%"></div>
</section>
