<form [formGroup]="form" class="flex flex-col flex-1 h-full gap-4 p-4">
  <app-input formControlName="title" label="사진첩 제목" placeholder="사진첩 제목을 입력해주세요." />
  <label class="flex flex-col flex-1 gap-2">
    <span>관심사 선택</span>
    <app-category-selector
      [isMultiSelect]="false"
      [selectedCategoryList]="this.category() ? [this.category()!] : []"
      (selectedCategoryListChange)="toggleCategory($event)"
      class="flex-1" />
  </label>
  <app-button [text]="mode() === 'create' ? '사진첩 생성하기' : '사진첩 수정하기'" [isDisabled]="form.invalid" (click)="onSubmit()" />
</form>
