<div class="flex flex-col min-h-screen border-x bg-layer40">
  @if (profile) {
    <app-header title="내 정보" [hasBackButton]="false">
      <button rightContent (click)="openBottomSheet()" class="flex size-5 items-center justify-center rounded-full border border-primary50 bg-[#182B28] px-1 text-primary20">
        <app-icon name="more" [size]="13" />
      </button>
    </app-header>

    <!-- TODO 테두리 -->
    <main class="m-5 divide-y divide-white/20 rounded-[8px] border border-gray70 bg-layer30 px-4 py-5">
      <div class="pb-5">
        <img [src]="profile.imageUrl || 'assets/images/default-image.webp'" alt="프로필 이미지" class="mx-auto block size-[100px] rounded-full border-2 border-primary50" />
        <div class="mt-2.5">
          <span class="block text-center text-detail-l text-gray40">닉네임</span>
          <span class="block font-bold text-center text-white text-body-m">&#64;{{ profile.nickname }}</span>
        </div>
      </div>
      <p class="py-5 text-body-s text-gray40">
        <span class="mr-2 font-bold text-white text-body-s">이메일</span>
        {{ profile.email }}
      </p>
      <div class="py-5">
        <span class="font-bold text-white text-body-s">자기소개</span>
        <p class="mt-1 text-body-s text-gray40">
          {{ profile.bio }}
        </p>
      </div>
      <div class="flex flex-wrap gap-2 pt-5">
        @for (tag of profile.tags; track $index) {
          <app-tag [tagName]="tag.name" type="solid" size="md" />
        }
      </div>
    </main>
  }

  <app-footer class="sticky bottom-0 mt-auto" />
</div>
