<div class="flex w-[374px] flex-col gap-6 rounded-[12px] bg-white p-10">
  <div class="flex justify-between">
    <h6 class="font-bold">비밀번호 변경</h6>
    <button class="close()">X</button>
  </div>
  <form [formGroup]="form" class="flex flex-col gap-2">
    <app-input label="기존 비밀번호를 입력해주세요." inputType="password" formControlName="currentPassword" />
    @if (getErrorMessage('currentPassword')) {
      <p class="ml-1 text-xs text-red-600">{{ getErrorMessage('currentPassword') }}</p>
    }
    <app-input label="새 비밀번호를 입력해주세요." inputType="password" formControlName="password" />
    @if (getErrorMessage('password')) {
      <p class="ml-1 text-xs text-red-600">{{ getErrorMessage('password') }}</p>
    }
    <app-input label="새 비밀번호를 확인해주세요." inputType="password" formControlName="confirmPassword" />
    @if (getErrorMessage('confirmPassword')) {
      <p class="ml-1 text-xs text-red-600">{{ getErrorMessage('confirmPassword') }}</p>
    }
    <app-button text="확인" [isDisabled]="form.invalid" (click)="updatePassword()" />
  </form>
  {{ form.value | json }}
</div>
