<div class="flex w-[374px] flex-col gap-6 rounded-[12px] bg-white p-10">
  <div class="flex justify-between">
    <h6 class="font-bold">비밀번호 변경</h6>
    <button class="close()">X</button>
  </div>
  <form [formGroup]="passwordUpdateForm" class="flex flex-col gap-2">
    <label class="flex flex-col gap-2">
      <span>기존 비밀번호를 입력해주세요.</span>
      <input type="password" formControlName="currentPassword" />
    </label>
    <label class="flex flex-col gap-2">
      <span>새 비밀번호를 입력해주세요.</span>
      <input type="password" formControlName="password" />
    </label>
    <label class="flex flex-col gap-2">
      <span>새 비밀번호를 확인해주세요.</span>
      <input type="password" formControlName="confirmPassword" />
    </label>
    <app-button text="확인" [isDisabled]="passwordUpdateForm.invalid" (click)="updatePassword()" />
  </form>
  {{ passwordUpdateForm.value | json }}
</div>
