<div (click)="onContainerClick()" class="relative">
  @if (isCheckable()) {
    <input #checkboxRef type="checkbox" (click)="onCheckboxClick($event)" class="absolute z-20 cursor-pointer right-2 top-2 size-6" />
  }
  <!-- TODO 테두리 -->
  <figure class="relative cursor-pointer overflow-hidden rounded-[12px] border border-gray70 bg-[#23252B]/85 px-3 py-2 shadow-custom">
    <div class="absolute inset-0 z-0 bg-cover bg-center blur-[20px]" [ngStyle]="{ 'background-image': 'url(' + post().imageUrl + ')' }"></div>
    <div class="absolute inset-0 z-10 bg-[#2A2C34]/25"></div>
    <div class="relative z-10 space-y-2">
      <div class="relative flex gap-1 text-white">
        <figcaption class="flex-1 block w-full font-bold truncate text-body-s">
          {{ post().title }}
        </figcaption>
        <button class="flex items-center justify-center rounded-full size-5">
          <app-icon name="kebab" />
        </button>
      </div>
      <img [src]="post().imageUrl" [alt]="post().title" />
      <p class="line-clamp-2 text-detail-l text-gray40">{{ post().content }}</p>
    </div>
  </figure>
  @if (isCheckable()) {
    <div [ngClass]="!checkboxRef().nativeElement.checked ? 'bg-black/20' : 'border border-primary50'" class="absolute inset-0 z-10 rounded-[12px]"></div>
  }
</div>
