<div class="flex min-h-screen flex-col border-x bg-layer40">
  <app-header title="신규 회원가입">
    <div rightContent class="flex items-center gap-2 text-white">
      <span class="whitespace-nowrap text-body-m font-bold">정보입력</span>
      <p class="flex text-body-m">
        <span class="text-primary60">1</span>
        /3
      </p>
    </div>
  </app-header>

  <main class="flex-1 px-4">
    <p class="pb-10 pt-2.5 text-body-s text-gray40">
      포토게더에 오신 것을 환영합니다. <br />
      서비스를 이용하기 위해서 회원가입이 필요합니다.
    </p>

    <app-register-form />

    <p class="text-white">
      계정이 있으신가요?
      <a routerLink="/login" class="text-blue-600">로그인 페이지</a>로 이동하기
    </p>
  </main>
</div>
