<div class="flex min-h-screen flex-col bg-layer40">
  <app-header title="신규 회원가입">
    <div rightContent class="flex items-center gap-2 text-white">
      <span class="whitespace-nowrap text-body-m font-bold">정보입력</span>
      <p class="flex text-body-m">
        <span class="text-primary60">{{ currentStep() }}</span
        >/<span>{{ totalSteps() }}</span>
      </p>
    </div>
  </app-header>

  <main class="flex-1">
    <p class="px-5 pb-10 pt-2.5 text-body-s text-gray40">
      포토게더에 오신 것을 환영합니다. <br />
      서비스를 이용하기 위해서 OPT 인증이 필요합니다.
    </p>

    <otp-verify-form page="register" (otp)="otp.set($event)" />
  </main>

  <app-footer [hasButton]="true">
    <app-button button text="다음으로" rightIcon="arrow-right" [iconSize]="16" [isDisabled]="!isValid()" (click)="onNext()" />
  </app-footer>
</div>
