<div class="flex flex-col min-h-screen border-x bg-gray10">
  <app-header title="게시물 수정" />

  <div class="flex-1 w-full px-4 py-6">
    <form [formGroup]="form" class="flex flex-col gap-5">
      <div class="shadow-custom flex h-[485px] items-center justify-center rounded-[8px] border bg-white">
        @if (previewUrl) {
          <img [src]="previewUrl" alt="임시 이미지" class="shadow-custom h-[485px] w-full rounded-[8px]" />
        } @else {
          <p>사진을 불러오지 못 했습니다.</p>
        }
      </div>
      <app-input label="게시물 제목" placeholder="게시물 제목을 입력해주세요." info="게시물 제목은 추후에 변경이 가능합니다." [hasInfoIcon]="true" formControlName="title" />
      <app-input type="textarea" label="게시물 내용" placeholder="게시물 내용을 입력해주세요." info="게시물에 대한 간단한 메모를 남겨주세요." formControlName="content" />

      <div formArrayName="metadataStringify">
        <p class="mb-2 text-body-s">사진내용</p>
        <div class="min-w-full rounded-[12px]">
          <div class="flex rounded-t-[12px] border border-gray40 bg-primary5 font-bold text-primary70">
            <span class="px-2.5 py-2">노출</span>
            <span class="flex-1 px-1 py-2">텍스트</span>
            <span class="px-2.5 py-2">링크</span>
          </div>
          @for (imgContent of metadataArray.controls; track $index) {
            <div
              [formGroup]="imgContent"
              class="[&>div]:typo-body-s border-b-gray-30 [&>div]:text-body_s flex items-center border-b bg-white px-2.5 hover:cursor-pointer hover:bg-gray5 [&>td]:border-b [&>td]:border-b-gray30 [&>td]:px-4 [&>td]:py-3 [&>td]:text-left">
              <div class="py-2">
                <input type="checkbox" formControlName="isPublic" />
              </div>
              <div class="flex-1 px-2.5 py-2">
                <app-input formControlName="content" class="flex-1" />
              </div>
              <div (click)="toggleLink($index)" class="py-2">
                <app-icon
                  [name]="metadataArray.at($index).value.hasLink ? 'link' : 'no-link'"
                  [size]="20"
                  [class]="metadataArray.at($index).value.hasLink ? 'text-primary50' : 'text-gray50'" />
              </div>
            </div>
          }
        </div>
      </div>
      <app-button text="수정된 내용 저장하기" width="full" (click)="updatePost()" />
    </form>
  </div>

  {{ form.value | json }}

  <app-footer class="sticky bottom-0 mt-auto" />
</div>
