<div class="flex flex-col min-h-screen border-x bg-secondary5">
  <!-- header -->
  <app-header title="게시물 수정" />

  <!-- main -->
  <div class="flex-1 w-full px-4 py-6">
    <form [formGroup]="postUpdateForm" class="flex flex-col gap-5">
      @if (previewUrl) {
        <img [src]="previewUrl" alt="임시 이미지" class="h-[485px] rounded-lg" />
      } @else {
        <div class="flex h-[485px] items-center justify-center rounded-lg border bg-gray20">
          <p>미리보기 사진이 없습니다.</p>
        </div>
      }
      <label class="flex flex-col gap-2">
        <span>게시물 제목</span>
        <input type="text" placeholder="게시물 제목을 입력해주세요." formControlName="title" />
      </label>
      <label class="flex flex-col gap-2">
        <span>게시물 내용</span>
        <textarea placeholder="게시물 내용을 입력해주세요." formControlName="content" rows="10" class="p-4 border border-black rounded-lg resize-none"></textarea>
      </label>

      <div formArrayName="metadataList">
        <span class="block mb-3">사진내용</span>

        @for (imgContent of metadataArray.controls; track $index) {
          <div [formGroup]="imgContent" class="flex gap-3 mb-3 last-of-type:mb-0">
            <div>
              <input formControlName="isPublic" type="checkbox" class="w-6 h-6" />
              <span class="block text-sm">노출</span>
            </div>
            <input formControlName="content" type="text" placeholder="사진내용" class="flex-1" />
          </div>
        }
      </div>
      <app-button text="수정된 내용 저장" width="full" (click)="updatePost()" />
    </form>
  </div>

  <!-- footer -->
  {{ postUpdateForm.value | json }}

  <app-footer class="sticky bottom-0 mt-auto" />
</div>
