<header
  class="sticky top-0 z-10 flex max-h-[73px] w-full items-center gap-3 border-b border-b-primary50 bg-[#1b1d21]/80 px-4 py-5 text-white shadow-[2px_5px_8px_0_rgba(0,0,0,0.2)] backdrop-blur-[20px]">
  @if (hasBackButton()) {
    <button (click)="goBack()" class="flex size-8 items-center justify-center font-bold">
      <app-icon name="arrow-left" class="text-white" />
    </button>
  }
  @if (hasLogo()) {
    <app-icon name="logo-lg" class="mb-1" />
  } @else {
    <span class="w-full truncate text-xl font-bold">{{ title() }}</span>
  }
  <ng-content select="[rightContent]" />
</header>
