<div class="flex flex-col min-h-screen border-x bg-layer40">
  <app-header [hasBackButton]="false" [hasLogo]="true">
    <app-button rightContent appearance="primary" text="사진첩 추가" size="xs" rightIcon="plus" [iconSize]="12" (click)="createCollection()" class="ml-auto" />
  </app-header>

  <main class="flex flex-col flex-grow gap-5 px-4 py-5">
    <!-- <app-button (click)="toggleTheme()" [text]="themeService.theme() === 'dark' ? '🌙 Light Mode' : '☀️ Light Mode'" /> -->
    <app-search-bar placeholder="사진첩 전체 검색하기" [value]="searchValue()" />
    <div class="">
      <p class="flex items-center justify-between mb-5 text-white">
        <span class="font-bold text-body-s">{{ nickname }}의 사진첩</span>
        <button (click)="openBottomSheet()" class="relative flex items-center gap-1 font-bold text-detail-l">
          태그필터
          <app-icon name="filter" styleClass="size-5" class="text-white" />
          @if (filteredCategory().length > 0) {
            <span class="absolute -right-2 -top-2 flex size-[18px] items-center justify-center rounded-full bg-primary50 text-detail-m font-bold text-white">
              {{ filteredCategory().length }}
            </span>
          }
        </button>
      </p>
      <div class="flex flex-col gap-5">
        @for (collection of defaultCollections(); track $index) {
          <app-collection-card [collection]="collection" />
        } @empty {
          <div class="col-span-full h-[275px] rounded-[12px] bg-layer20 p-4 text-white">등록된 사진첩이 없습니다</div>
        }
      </div>
    </div>

    <div class="mt-auto">
      <h4 class="mb-2.5 mt-auto text-body-s font-bold text-white">정리가 필요한 사진첩</h4>
      <app-system-folders />
    </div>
  </main>

  <app-footer class="sticky bottom-0 mt-auto" />
</div>
