<div class="flex flex-col min-h-screen border-x bg-secondary5">
  <!-- header -->
  <header class="sticky top-0 z-10 flex items-center w-full gap-3 px-4 py-5 bg-white border-b shadow-sm">
    <button class="text-xl font-bold"><</button>
    <span class="text-xl font-bold">게시물 제목</span>
  </header>

  <div class="grid grid-cols-3 gap-3 p-4 bg-white border-b">
    <app-button text="사진첩 삭제" appearance="secondary" />
    <app-button text="사진첩 수정" appearance="secondary" />
    <app-button text="사진첩 정리" appearance="secondary" />
  </div>

  <!-- main -->
  <main class="pt-4"></main>

  <!-- footer -->
  <app-footer class="sticky bottom-0 mt-auto" />
</div>
