<div class="divide-y divide-layer20 rounded-[12px] bg-layer30 p-4 text-detail-l text-gray30">
  @for (systemFolder of systemFolders; track $index; let last = $last; let first = $first) {
    <div (click)="clickEvent(systemFolder.id)" [ngClass]="{ 'pb-2': first, 'pt-2': last }" class="flex items-center justify-between cursor-pointer">
      <div class="flex items-center gap-2">
        @if (!isCheckable()) {
          <app-icon [name]="systemFolder.name" [size]="20" />
        } @else {
          <input #inputRef type="checkbox" [checked]="systemFolder.id === selectedId()" />
        }
        <span class="font-bold">{{ systemFolder.label }}</span>
      </div>
      <div class="flex items-center gap-2">
        <span>{{ systemFolder.postCount }}개 사진</span>
        <app-icon name="arrow-right" />
      </div>
    </div>
  }
</div>
