<main class="flex-1 px-5 pt-2.5">
  <p class="mb-10 text-body-s text-gray40">
    로그인시 사용하실 신규 비밀번호를 입력해주세요.<br />
    변경 완료후 홈화면에서 로그인 하실수 있습니다.
  </p>

  <form [formGroup]="form" class="flex flex-col gap-2.5">
    <app-input
      label="신규 비밀번호"
      inputType="password"
      formControlName="password"
      [hasInfoIcon]="true"
      info="숫자, 영문자, 특수문자를 포함 8~15자"
      [hasError]="!!getErrorMessage('password')" />
    @if (getErrorMessage('password')) {
      <p class="ml-1 text-xs text-accent40">{{ getErrorMessage('password') }}</p>
    }
    <app-input
      label="신규 비밀번호 확인"
      inputType="password"
      formControlName="confirmPassword"
      [hasInfoIcon]="true"
      info="숫자, 영문자, 특수문자를 포함 8~15자"
      [hasError]="!!getErrorMessage('confirmPassword')" />
    @if (getErrorMessage('confirmPassword')) {
      <p class="ml-1 text-xs text-accent40">{{ getErrorMessage('confirmPassword') }}</p>
    }
  </form>
</main>

<app-footer [hasButton]="true">
  <app-button button text="비밀번호 변경" [isDisabled]="!isValid()" (click)="recoverPassword()" />
</app-footer>
