<form [formGroup]="signUpForm" class="flex flex-col h-full gap-2">
  <app-input formControlName="email" placeholder="이메일(example@gmail.com)" />
  @if (signUpForm.get('email')?.pending) {
    <span class="ml-1"> 로딩중 .. </span>
  }
  @if (getErrorMessage('email')) {
    <p class="ml-1 text-xs text-red-600">{{ getErrorMessage('email') }}</p>
  }
  <app-input inputType="password" formControlName="password" placeholder="비밀번호" />
  @if (getErrorMessage('password')) {
    <p class="ml-1 text-xs text-red-600">{{ getErrorMessage('password') }}</p>
  }
  <app-input inputType="password" formControlName="confirmPassword" placeholder="비밀번호 확인" />
  @if (getErrorMessage('confirmPassword')) {
    <p class="ml-1 text-xs text-red-600">{{ getErrorMessage('confirmPassword') }}</p>
  }
  <app-button text="가입하기" [isDisabled]="signUpForm.invalid" (click)="onRegister()" />
</form>
