<form [formGroup]="form" class="px-5">
  @if (!isEditMode()) {
    <input #fileRef type="file" (change)="upload($event)" class="hidden" />
    <button
      (click)="fileRef.click()"
      class="mx-auto mb-10 flex h-[480px] w-[270px] items-center justify-center rounded-[12px] border-2 border-primary50 bg-[#182B28] shadow-custom">
      @if (previewUrl) {
        <img [src]="previewUrl" alt="임시 이미지" class="h-full w-full overflow-hidden rounded-[12px] shadow-custom" />
      } @else {
        <div class="flex flex-col items-center gap-5">
          <app-icon name="plus" [size]="30" class="text-primary20" />
          <div class="w-full h-full text-body-s text-primary20">사진을 선택해주세요.</div>
        </div>
      }
    </button>
  }
  <app-input label="게시물 제목" placeholder="게시물 제목을 입력해주세요." info="게시물 제목은 추후에 변경이 가능합니다." [hasInfoIcon]="true" formControlName="title" />
  <app-input
    type="textarea"
    label="게시물 내용"
    placeholder="게시물 내용을 입력해주세요."
    info="게시물에 대한 간단한 메모를 남겨주세요."
    formControlName="content"
    class="block mt-5" />

  <div formArrayName="metadataStringify" class="mt-5">
    <p class="mb-2 text-white text-body-s">사진내용</p>
    <!-- TODO 테두리 변경 -->
    <div class="min-w-full rounded-[12px] border border-gray70">
      <div class="flex rounded-t-[12px] bg-[#182B28] text-detail-m font-bold text-primary20">
        <span class="px-2.5 py-2">노출</span>
        <span class="flex-1 px-1 py-2">텍스트</span>
        @if (metadataArray.controls.length > 0) {
          <span class="px-2.5 py-2"></span>
        }
      </div>
      @for (imgContent of metadataArray.controls; track $index) {
        <div [formGroup]="imgContent" class="flex items-center gap-2.5 rounded-b-[12px] bg-layer40 px-2.5">
          <div class="py-2">
            <input type="checkbox" formControlName="isPublic" />
          </div>
          <div class="flex-1 px-2.5 py-2">
            <app-input size="xs" formControlName="content" class="flex-1" />
          </div>
          <button (click)="deleteText($index)" class="py-2">
            <app-icon name="delete" [size]="16" />
          </button>
        </div>
      } @empty {
        <!-- TODO border-t 테두리 변경 -->
        <div class="rounded-b-[12px] border-t-gray70 px-2.5 py-2 text-detail-l text-gray40">
          @if (!isEditMode()) {
            사진을 선택해주세요.
          } @else {
            사진 내용이 존재하지 않습니다.
          }
        </div>
      }
    </div>
  </div>
</form>
