<section class="flex flex-col items-center justify-between min-h-screen p-10 bg-white">
  <div class="mb-15">
    <h1>
      <app-icon name="logo-xl" />
    </h1>
    <p class="mt-5 font-normal text-body-m text-gray70">
      구매하기 위한 캡처한 사진 <br />
      포토게더를 통해 정리해보세요!
    </p>
  </div>

  <div class="flex flex-col items-center w-full gap-5">
    <app-login-form />
    <app-button text="이메일 회원가입" (click)="goRegisterPage()" class="w-full" />
    <a routerLink="/otp/verify" class="text-sm underline text-primary60">비밀번호 찾기</a>
  </div>

  <p class="py-5 font-bold text-body-s text-primary60">로그인 후에 서비스 이용이 가능합니다.</p>
</section>
