/* TODO 지울 예정 => input 컴포넌트 생성 */
body {
  input {
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 10px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}
