<app-header title="신규 회원가입">
  <div rightContent class="flex items-center gap-2 text-white">
    <span class="whitespace-nowrap text-body-m font-bold">정보입력</span>
    <p class="flex text-body-m">
      <span class="text-primary60">{{ currentStep() }}</span
      >/<span>{{ totalSteps() }}</span>
    </p>
  </div>
</app-header>

<main class="flex-1 px-4">
  <p class="pb-10 pt-2.5 text-body-s text-gray40">
    포토게더에 오신 것을 환영합니다. <br />
    서비스를 이용하기 위해서 회원가입이 필요합니다.
  </p>

  <!-- 회원가입 폼 -->
  <form [formGroup]="form" class="flex flex-col gap-y-2.5">
    <div>
      <app-input label="이메일" info="ex)abc@qwer.com" [hasInfoIcon]="true" formControlName="email" [hasError]="!!getErrorMessage('email')" placeholder="이메일을 입력해주세요." />
      @if (form.get('email')?.pending) {
        <span class="mt-2 block text-white">로딩중 ..</span>
      }
      @if (getErrorMessage('email')) {
        <p class="mt-2 text-detail-l text-accent40">{{ getErrorMessage('email') }}</p>
      }
    </div>
    <div>
      <app-input
        label="비밀번호"
        info="숫자, 영문자, 특수문자를 포함 8~15자"
        [hasInfoIcon]="true"
        inputType="password"
        formControlName="password"
        [hasError]="!!getErrorMessage('password')"
        placeholder="비밀번호" />
      @if (getErrorMessage('password')) {
        <p class="mt-2 text-detail-l text-accent40">{{ getErrorMessage('password') }}</p>
      }
    </div>
    <div>
      <app-input
        label="비밀번호 확인"
        info="숫자, 영문자, 특수문자를 포함 8~15자"
        [hasInfoIcon]="true"
        inputType="password"
        formControlName="confirmPassword"
        [hasError]="!!getErrorMessage('confirmPassword')"
        placeholder="비밀번호 확인" />
      @if (getErrorMessage('confirmPassword')) {
        <p class="mt-2 text-detail-l text-accent40">{{ getErrorMessage('confirmPassword') }}</p>
      }
    </div>
  </form>
</main>
<app-footer [hasButton]="true">
  <app-button button text="다음으로" rightIcon="arrow-right" [iconSize]="16" [isDisabled]="!isValid()" (click)="onNext()" />
</app-footer>
