<div class="flex max-w-[358px] flex-col gap-5 rounded-[12px] border border-[#c6c6c6] bg-white p-10">
  <div class="flex items-center justify-between">
    <h6 class="font-bold text-body-m">{{ data.title }}</h6>
    <button (click)="close()">
      <app-icon name="close" />
    </button>
  </div>

  <div>
    <p class="mb-2.5 text-body-l font-bold">{{ data.subTitle }}</p>
    <p class="text-body-m">{{ data.content }}</p>
  </div>

  <div class="flex items-center gap-4">
    @for (buttonText of data.buttons; track $index) {
      <app-button [text]="buttonText" (click)="close(buttonText)" class="flex-1" />
    }
  </div>
</div>
