<div
  class="bg-layer30 flex h-12 w-full items-center justify-center gap-2 rounded-full px-4 text-body-m text-gray90 text-white shadow-custom ring-1 ring-gray70 focus-within:ring-2 focus-within:ring-primary50">
  <app-icon name="search" [size]="20" class="text-white" />
  <input
    #inputRef
    type="text"
    [placeholder]="placeholder()"
    [value]="value()"
    (input)="onInput($event)"
    class="bg-layer30 h-full w-full rounded-r-full outline-none placeholder:text-gray50" />
  @if (value()) {
    <button (click)="resetValue()">
      <app-icon name="close-circle" [size]="20" />
    </button>
  }
</div>
