<section class="flex flex-col gap-5">
  <div>
    <h1 class="text-3xl font-bold">OTP 인증</h1>
    <p class="mt-1">이메일 확인 후, 인증 코드를 입력해주세요!</p>
  </div>

  <form [formGroup]="otpForm" class="">
    <input type="string" minlength="6" formControlName="otp" class="w-full" />
    @if (getErrorMessage()) {
      <p class="mt-1 ml-1 text-xs text-red-600">{{ getErrorMessage() }}</p>
    }
    <button [disabled]="otpForm.invalid" (click)="onVerify()" class="w-full mt-3">인증하기</button>
  </form>

  <p class="flex items-center justify-between">
    인증코드가 가지 않았나요 ?
    <button class="">재요청</button>
  </p>
</section>
