<div class="flex-1 px-5 pt-5">
  <div class="flex flex-col gap-5">
    <p class="text-body-s font-bold text-white">{{ nickname }}의 사진첩</p>
    <div class="flex flex-col gap-5">
      @for (collection of myCollections().default; track $index) {
        <app-collection-card [collection]="collection" [isCheckable]="true" [isChecked]="selectedCollectionId() === collection.id" (clickEvent)="onCardChecked(collection.id)" />
      } @empty {
        <div class="col-span-full h-[275px] rounded-[12px] bg-layer20 p-4 text-white">등록된 사진첩이 없습니다</div>
      }
    </div>
  </div>

  <section class="mt-5">
    <h4 class="mb-2.5 text-body-s font-bold text-white">정리가 필요한 사진첩</h4>
    <app-system-folders [isCheckable]="true" (clickFolder)="onCardChecked($event)" />
  </section>
</div>

<app-footer [hasButton]="true">
  <app-button button text="게시물 생성하기" [isDisabled]="!selectedCollectionId()" (click)="createPost()" />
</app-footer>
