<div class="flex flex-col bg-layer40">
  <app-header title="프로필 편집" />

  <div class="flex w-full flex-1 flex-col gap-5 px-4 py-6">
    <app-profile-update-form #profileForm />
    <div class="rounded-[8px] border border-gray70 bg-layer30 px-4 py-5 text-white outline-none">
      <div class="flex flex-wrap gap-2 border-b border-b-white/20 pb-5">
        @for (category of categories.value; track $index) {
          <app-tag [tagName]="category.name" type="solid" size="md" />
        }
      </div>
      <app-button text="관심태그 변경" appearance="secondary" (click)="updateCategory()" class="pt-5" />
    </div>
  </div>

  <app-footer [hasButton]="true">
    <app-profile-update-button button buttonText="저장하기" [form]="profileForm.getRawValue()" (handleButton)="updateProfile()" />
  </app-footer>
</div>
