/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO 지울 것  */
html {
  height: 100%;
}
body {
  max-height: 100%;
  padding: 40px;
}

input {
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

button{
  display: block;
  padding: 10px 20px;
  background-color: skyblue;
  border-radius: 10px;

  &:disabled{
    opacity: 50%;
  }
}