/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

body {
  /* padding-top: var(--ion-safe-area-top);
  padding-bottom: var(--ion-safe-area-bottom); */
  padding-left: var(--ion-safe-area-left);
  padding-right: var(--ion-safe-area-right);
  background-color: var(--color-layer40);
}
