<form [formGroup]="form" class="flex flex-col gap-5">
  <div class="relative mx-auto w-fit">
    <img [src]="previewUrl" alt="사용자 프로필 이미지" class="mx-auto block size-[100px] rounded-full bg-white ring-2 ring-primary50" />
    <button (click)="fileInput.click()" class="absolute top-0 right-0 flex items-center justify-center text-white rounded-full size-8 bg-primary50 ring-1 ring-white">
      <app-icon name="plus" />
    </button>
    <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
  </div>
  <app-input label="닉네임" info="닉네임은 추후에 변경이 가능합니다." [hasInfoIcon]="true" placeholder="닉네임을 입력해주세요." formControlName="nickname" />
  <app-input type="textarea" label="자기소개" info="회원님에 대해서 알려주세요.(선택)" placeholder="내 소개를 입력해주세요." formControlName="bio" />
</form>
